{%- if use_django_extensions -%}
# django-extensions
# ------------------------------------------------------------------------------
# https://django-extensions.readthedocs.io/en/latest/#getting-started
INSTALLED_APPS += [
    "django_extensions",
]
{%- endif -%}
